.idea
*.o
*.pyc
*.npy
*.ckpt
*.tar
*.out
*.tar.gz
*.so
experiments/notebooks/.ipynb_checkpoints/*
experiments/logs/*
experiments/eval/*
data/*
data/cache/*
data/pretrain_model
data/VOC*
data/KITTI*
output
logs
logs_old
utest
.DS_Store
._.DS_Store
